@font-face {
    font-family: 'Aller';
    src: url('Aller.woff2') format('woff2'),
        url('Aller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('Aller-Bold.woff2') format('woff2'),
        url('Aller-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

