$icomoon-font-family: "diamond" !default;
$icomoon-font-path: "fonts" !default;

$icon-email: "\e90d";
$icon-map-marker: "\e91b";
$icon-share: "\e904";
$icon-play: "\e903";
$icon-close: "\e912";
$icon-search: "\e913";
$icon-bars: "\e919";
$icon-web: "\e907";
$icon-lang: "\e908";
$icon-a-right: "\e900";
$icon-a-left: "\e901";
$icon-play2: "\e90a";
$icon-vimeo: "\e905";
$icon-google-play: "\e902";
$icon-format-quote-open: "\e918";
$icon-arrow-right: "\e916";
$icon-arrow-left: "\e917";
$icon-chevron-right: "\e910";
$icon-chevron-left: "\e911";
$icon-phone2: "\e906";
$icon-whatsapp: "\e909";
$icon-refresh: "\e91a";
$icon-snapchat-ghost: "\e90b";
$icon-add: "\e91f";
$icon-youtube: "\e927";
$icon-linkedin: "\e928";
$icon-brand: "\e928";
$icon-social: "\e928";
$icon-instagram: "\e90c";
$icon-twitter: "\e90e";
$icon-brand1: "\e90e";
$icon-tweet: "\e90e";
$icon-social1: "\e90e";
$icon-quote: "\e90f";
$icon-google: "\e915";
$icon-facebook: "\e914";
$icon-brand2: "\e914";
$icon-social2: "\e914";

