/*
0-600         To Mobile Screens
600 - 900     To Tablet Screens
900 - 1200    To landscape Tablet screens
1200 - 1800   To normal screens 
1800 - &      To big screens

$breakpoints
- Phones
- tab-port
- tab-land
- big desktops 


ORDER : Base > Typography > General Layout + Grid > Page Layout + Components
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* better practice */
}

html {
  font-size: 62.5%;
  /* better practice */
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  /* better practice */
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
    overflow-x: hidden;
  }
}

.card {
  height: 60rem;
  position: relative;
}
.card__side {
  height: 60rem;
  background-color: orangered;
  transition: all 0.8s ease;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__pic {
  height: 50%;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__pic--1 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__pic img {
  max-width: 100%;
  height: auto;
}
.card__heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300;
  position: absolute;
  top: 23rem;
  right: 1rem;
  color: #fff;
  text-align: right;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__details {
  padding: 2rem;
  font-size: 1.7rem;
  text-align: center;
  color: #333;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 8rem;
}
.card__price-only {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 4rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 12rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 18rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 18rem) / 4 + 12rem);
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* this fix of the move up after animation */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;
}
.heading-primary--main {
  display: block;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation-name: MoveToRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* 
  1- take this time then animation run   
  2- animation repeat 3 times    
  3- the way will animation proceed  URL:https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function

  animation-delay: 3s;
  animation-iteration-count: 3;
  animation-timing-function: linear ; */
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 3.5rem;
    letter-spacing: 2rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  /* animation-name: MoveToLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in; */
  animation: MoveToLeft 1s ease-in;
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 1rem;
  }
}

.heading-secondary-span {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  letter-spacing: 0.2rem;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary-span {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary-span {
    font-size: 1.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  letter-spacing: 0.2rem;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  box-shadow: 0.5rem 1rem 2rem linear-gradient(#000, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  background-color: #fff;
  height: auto;
  width: 75%;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: table;
  overflow: hidden;
  transition: all 0.5s 0.2s;
}
@media (max-width: 56.25em) {
  .popup__content {
    display: flex;
    flex-direction: column;
  }
}
.popup__left {
  width: 33.33333%;
  display: table-cell;
}
@media (max-width: 56.25em) {
  .popup__left {
    width: 50%;
    display: flex;
  }
}
.popup__right {
  width: 66.66666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 5rem;
}
@media (max-width: 56.25em) {
  .popup__right {
    width: 100%;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
}
.popup__close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
  line-height: 1;
}
.popup__close:hover {
  color: #55c57a;
}

.u-text-center {
  text-align: center !important;
}

.u-mb-sm {
  margin-bottom: 2rem !important;
}

.u-mb-m {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-mb-m {
    margin-bottom: 2rem !important;
  }
}

.u-mb-l {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-mb-l {
    margin-bottom: 6rem !important;
  }
}

.u-mt-sm {
  margin-top: 2rem !important;
}

.u-mt-m {
  margin-top: 4rem !important;
}

.u-mt-l {
  margin-top: 8rem !important;
}

.u-width-m {
  max-width: 65%;
  margin: auto;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  /* transition property we can throw it animate elements */
  transition: all 0.3s;
  /* what element you want to animate , the time of animation */
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: MoveToTop 1s ease-in 0.75s;
  /* this will automatically apply the styles to zero until animation start */
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1.5rem 2rem linear-gradient(rgba(0, 0, 0, 0.15));
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 2rem linear-gradient(rgba(0, 0, 0, 0.15));
  transform: translateY(-2px);
}

.single-card {
  height: auto;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  transition: all 0.3s;
}
.single-card__content {
  background-color: #fff;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  text-align: justify;
  transition: all 0.5s 0.2s;
}
@media (max-width: 56.25em) {
  .single-card__content {
    display: flex;
    flex-direction: column;
  }
}
.single-card__left {
  width: 33.33333%;
}
@media (max-width: 56.25em) {
  .single-card__left {
    width: 50%;
    display: flex;
  }
}
.single-card__right {
  width: 66.66666667%;
  vertical-align: middle;
  padding: 5rem;
}
@media (max-width: 56.25em) {
  .single-card__right {
    width: 100%;
  }
}
.single-card__img {
  display: block;
  width: 100%;
}
.single-card__text {
  font-size: 1.4rem;
}

.socials {
  display: flex;
  margin: 0 -0.2rem;
  list-style-type: none;
  padding: 0;
}
.socials > li {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.socials a {
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
  background: #7ed56f;
  color: #f7f7f7;
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
.socials a:hover {
  background: #55c57a;
  color: #f7f7f7;
  transform: translateY(-1px);
}

/*# sourceMappingURL=style.css.map */
